mixin series-news(href, image, title)
  .news-box
    a(href=href)
      .news-image
        img.blackwhite-hover(src=image, title=title, alt=title)
        .news-caption
          h3= title

.noticias.tienda
  .title-content
    h1 Tienda
    hr

  .noticias-articles
    +series-news('tienda/index.html','assets/img/tienda/design.jpg', 'T-Shirts')
    +series-news('tienda/index.html','assets/img/tienda/design1.jpg', 'T-Shirts')
    +series-news('tienda/index.html','assets/img/tienda/stickers2.jpg', 'Stickers')
    +series-news('tienda/index.html','assets/img/tienda/stickers3.jpg', 'Stickers')

  a(href="../_site/tienda/index.html"): button.ver-mas Ver Mas
